/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&family=Quicksand:wght@500&family=Varta:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #424242;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 25px;
    outline: none;
    transition: background .3s ease;
}

button:hover {
    background: #818181;
}

button:disabled {
    cursor: default;
    background: #a1a1a180;
}

/* Join Page Styles */

.centered-form {
    background: #8f8f8f;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered-form .label_name{
    color: rgb(0, 137, 158);
    font-family: 'Varta', sans-serif;
    font-size: 16px;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
    font-family: 'Quicksand', sans-serif;
    color: blue;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}

.message__meta {
    color: rgba(85, 85, 85, 0.521);
    font-size: 12px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    border-radius: 25px;
    border: 1px solid rgb(61, 61, 61);
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
    height: 40px;
    padding: 0 25px
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 600;
    font-size: 25px;
    background: #5b6279;
    color: blueviolet;
    padding-left: 10px;
    letter-spacing: 0.7px;
    font-family: 'Varta', sans-serif;
    text-transform: capitalize;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-top: 15px;
    font-family: 'Varta', sans-serif;
}

.users {
    font-weight: 300;
    padding-left: 28px;
    color: rgb(157, 221, 157);
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.7px;
    text-transform: capitalize;
    cursor: not-allowed;
}